footer{
    margin: 0 auto;
    width: 800px; height: 158.756px;
    position: relative;
    border: 2px black; border-style: dashed; /* 나중에 없애기 */
}

footer ul{
    display: flex;
    justify-content: space-between;
    background-color: #999;
    height: 81.98px;
    padding: 20px 0;
    list-style: none;
    margin: 0;
}

footer ul li{
    width: 266.66px; height: 100%;
    border-right: 1px solid #adadad;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
